/*
potential color palette: background rgb(0, 38, 77) #00264D
text 1, greyish-green: rgb(98, 153, 152) #629998
text 2, white
opaque grey underlay: rgba(26, 26, 26, 0.3) #1a1a1a
opaque white underlay: rgba(135, 135, 135, 0.2) #878787
- Main color: #00264D
*/

body nav {

    display: inline;
}

#header {
	background-color: rgba(26, 26, 26, 0.3);
	height: 125px;
}

#weather-clock {
	float: right;
	display: flex;
	padding: 1%;
}

/*two day 300 x 100 */
#weather {
	display: block;
	text-align: center; 
	font-family: sans-serif; 
	font-size: 12px;
    float: right;
    padding: 0px;
    max-height: 100%;
    max-width: 100%;
}

#logo {
	padding: 1%;
	margin-top: 1%;
	max-width: 60%;
	max-height: 60%;
}

#clock {
    font-family: 'Lora', serif;
    letter-spacing: .75px;
	color: white;
	padding: 1%;
	padding-top: 7%;
	padding-left: 2%;
	max-width: 75%;
    max-height:100%;
	text-align: center;
	width: 160px; 
}

#date {
    max-width: 100%;
}

#right #weather span {
	background-color: #00264D;
	display: inline;
	width: 320px; 
	text-align: center; 
	font-family: sans-serif; 
	font-size: 12px;
}

