/*
potential color palette: background rgb(0, 38, 77) #00264D
text 1, greyish-green: rgb(98, 153, 152) #629998
text 2, white
opaque grey underlay: rgba(26, 26, 26, 0.3) #1a1a1a
opaque white underlay: rgba(135, 135, 135, 0.2) #878787
- Main color: #00264D
*/

/* 1A) BODY */ 

body {
    margin: 0px;
    border: 10px solid darkgreen;
}

/* 1B) NAVBAR */

nav {
    display: inline;
    width: 100%;
}

/* 2A) HEADER */

#header {
	background-color: rgba(26, 26, 26, 0.3);
	height: 15%;
    border: 5px grey solid;
}

/* 3A) LOGO */

#logo {
	padding: 20px;
	max-width: 35%;
	max-height: 15%;
    width: 33%;
    height: 100%;
    border: 3px red solid;
    position: relative;
    top: 2px;
}

/* 4A) WEATHER CLOCK DIV */

#weather-clock {
	float: right;
	display: inline-flex;
    padding: 7.5px;
    border: 3px cyan solid;
}

/* 4B) WEATHER 
two day 300 x 100 */
#weather {
	display: block;
	text-align: center; 
	font-family: sans-serif; 
	font-size: 12px;
    float: right;
    padding: 10px;
    max-height: 100%;
    max-width: 100%;
    border: 3px red solid;
}

/* 4C) CLOCK*/

#clock {
    font-family: 'Lora', serif;
    letter-spacing: .75px;
	color: white;
	padding: 1%;
	padding-top: 7%;
	padding-left: 2%;
	max-width: 75%;
    max-height:100%;
	text-align: center;
	width: 160px; 
    border: 3px red solid;
}

/* 4D) CLOCK: DATE */

#date {
    max-width: 100%;
}

/* 4E) CLOCK: TIME */

#time {}

/* 5A) WEATHER SPAN */

#right #weather span {
	background-color: #00264D;
	display: inline;
	width: 320px; 
	text-align: center; 
	font-family: sans-serif; 
	font-size: 12px;
}

